{% extends "index.html"%}

{% block sidebar-links %}
<li>
    <a href="/class_audit/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
        </svg>
        开课审核
    </a>
</li>
<li>
    <a href="/grade_audit/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
        </svg>
        成绩审核
    </a>
</li>
<hr>
<li>
    <a href="/class_view/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
        </svg>
        课程查询
    </a>
</li><li>
    <a href="/program_update/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
        </svg>
        培养方案更新
    </a>
</li>
<hr>
<li>
    <a href="/message/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2" />
        </svg>
        相关信息
    </a>
</li>
{% endblock sidebar-links %}