<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "nav.html" %}

    <h2>您正在查看的是：</h2>
    <h3>{{teachername}}{{ teachertitle }} 开设的 {{ classname }}({{ classid }})</h3>
    <ul>
    {% for i,j in detail.items %}
        <li>{{ i }}</li>
        <p>{{ j }}</p>
    {% endfor %}
    <li><a href="../../classchoice/?classid={{ classid }}">进入选课界面</a></li>
        <p> </p>
    <li><a href="../">返回课程查看界面</a></li>

    </ul>
    {% include "footer.html" %}
</body>
</html>