{% extends "index.html"%}

{% block pagetitle %}
<title>课程详细信息</title>
{% endblock pagetitle %}

{% block content %}
<h2>您正在查看的是：</h2>
<h3>{{ teachername }}{{ teachertitle }} 开设的 {{ classname }}({{ classid }})</h3>
<ul>
    {% for i,j in detail.items %}
    <li>{{ i }}</li>
    <p>{{ j }}</p>
    {% endfor %}
    {% if request.session.week < 3 %} <li><a href="../../classchoice/?classid={{ classid }}">进入选课界面</a></li>
        <p> </p>
        {% else %}
        {% endif %}
        <li><a href="../">返回课程查看界面</a></li>

</ul>


{% endblock content %}