{% extends "index.html"%}

{% block pagetitle %}
<title>课程表查看</title>
{% endblock pagetitle %}

{% block content %}

<table border="1" class="table table-sm">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    {% for items in class_table %}
    <tr>
        {% for item in items %}
        {% if item.normal == 1 %}
        <td style="vertical-align:middle; color:red">{{ item.context |default:"-"}}</td>
        {% elif item.normal == 0 %}
        <td style="vertical-align:middle; color:black">{{ item.context |default:"-"}}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p></p>
<table border=1 class="table table-sm">
    <tr>
        <th>课程序号</th>
        <th>课程名称</th>
        <th>授课时间</th>
        <th>课程教室</th>
        <th>教室最大容量</th>
    </tr>
    {% for i in cla_list %}
    <tr>
        {% if i.state == 1 %}
        <td style="vertical-align:middle">{{ i.classid }}</td>
        <td style="vertical-align:middle">{{ i.name }}</td>
        <td style="vertical-align:middle;color:red">{{ i.time }}</td>
        <td style="vertical-align:middle;color:red">{{ i.classroom }}</td>
        <td style="vertical-align:middle">{{ i.max_num }}</td>
        {% elif i.state == 0 %}
        <td style="vertical-align:middle">{{ i.classid }}</td>
        <td style="vertical-align:middle">{{ i.name }}</td>
        <td style="vertical-align:middle">{{ i.time }}</td>
        <td style="vertical-align:middle">{{ i.classroom }}</td>
        <td style="vertical-align:middle">{{ i.max_num }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}