{% extends "admin_index.html"%}

{% block pagetitle %}
<title>开课审核</title>
{% endblock pagetitle %}

{% block content %}

<body>
    {% if request.session.week > 0 %}
    <p> </p>
    <h4><b>功能暂未开放</b> </h4>
    <p> </p>
    {% else %}

    <p> </p>
    <h4><b>{{ request.session.user_name }}老师您好，请查看您的开课审核任务：</b> </h4>
    <p> </p>
    <table border=1 class="table table-sm">
        <tr>
            <th>序号</th>
            <th>课程名称</th>
            <th>开课老师</th>
            <th>开课确认</th>
        </tr>
        {% for i in clas_list %}
        <tr>
            <td style="vertical-align:middle; color:black">{{ i.num }}</td>
            <td style="vertical-align:middle; color:black">{{ i.name }}</td>
            <td style="vertical-align:middle; color:black">{{ i.teacher }}</td>
            <td style="vertical-align:middle"><a href="./class_set/{{ i.id }}">
            <button type="button" class="btn btn-primary btn-sm">开课确认</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endblock content %}