{% extends "teacher_index.html"%}

{% block pagetitle %}
<title>调课申请</title>
{% endblock pagetitle %}

{% block content %}
{% if request.session.week < 3 %}
    <p>     </p>
<h4><b>功能暂未开放</b> </h4>
<p>    </p>
{% else %}

<p>     </p>
<h4><b>{{ request.session.user_name }}老师您好，可以进行调课申请：</b> </h4>
<p>    </p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">调课申请</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">申请历史</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
   <table border=1 class="table table-sm">
        <tr>
            <th>课程序号</th>
            <th>课程名称</th>
            <th>课程教室</th>
            <th>原定时间</th>
            <th>前往调课</th>
        </tr>
        {% for i in clas_list %}
        <tr>
            <td style="vertical-align:middle">{{ i.id }}</td>
            <td style="vertical-align:middle">{{ i.name }}</td>
            <td style="vertical-align:middle">{{ i.classroom }}</td>
            <td style="vertical-align:middle">{{ i.time }}</td>
            <td style="vertical-align:middle"><a href="./adjust_views/{{ i.id }}/"><button type="button" class="btn btn-primary btn-sm"
            >调课</button></a></td>
        </tr>
        {% endfor %}
    </table>
      <p style="color:red">{{ err }}</p>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <table border=1 class="table table-sm">
        <tr>
            <th>课程序号</th>
            <th>课程名称</th>
            <th>调整教室</th>
            <th>原始时间</th>
            <th>调整时间</th>
            <th>调整周</th>
            <th>状态</th>
        </tr>
        {% for i in record_list %}
        <tr>
            <td style="vertical-align:middle">{{ i.id }}</td>
            <td style="vertical-align:middle">{{ i.name }}</td>
            <td style="vertical-align:middle">{{ i.classroom }}</td>
            <td style="vertical-align:middle">{{ i.from_time }}</td>
            <td style="vertical-align:middle">{{ i.time }}</td>
            <td style="vertical-align:middle">{{ i.week }}</td>
            {% if i.state == "已通过" %}
            <td style="vertical-align:middle; color:brown">{{ i.state }}</td>
                {% elif i.state == "本周生效" %}
            <td style="vertical-align:middle;color:#FF0000">{{ i.state }}</td>
                {% elif i.state == "已完成" %}
            <td style="vertical-align:middle;color:green">  {{ i.state }}</td>
                {% endif %}
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% endblock content %}