{% extends "admin_index.html"%}

{% block pagetitle %}
<title>成绩审核</title>
{% endblock pagetitle %}

{% block content %}

{% if request.session.week < 10 %}
    <p>     </p>
<h4><b>功能暂未开放</b> </h4>
<p>    </p>
{% else %}
<p>     </p>
<h4><b>{{ request.session.user_name }}老师您好，请查看您的成绩审核任务：</b> </h4>
<p>    </p>
<table border=1 class="table table-sm">
        <tr>
            <th>课程序号</th>
            <th>课程名称</th>
            <th>人数</th>
            <th>教师</th>
            <th>状态</th>
            <th>输入成绩</th>
        </tr>
        {% for i in clas_list %}
        <tr>
            <td style="vertical-align:middle">{{ i.classid }}</td>
            <td style="vertical-align:middle">{{ i.name }}</td>
            <td style="vertical-align:middle">{{ i.num }}</td>
            <td style="vertical-align:middle">{{ i.teacher }}</td>
            {% if i.state == "已提交" %}
            <td style="vertical-align:middle;color:blue">{{ i.state }}</td>
            <td style="vertical-align:middle"><a href="./grade_detail/{{ i.classid }}"><button type="button" class="btn btn-primary btn-sm"
            >成绩审核</button></a></td>
             {% elif i.state == "被驳回" %}
            <td style="vertical-align:middle;color:red">{{ i.state }}</td>
            <td style="vertical-align:middle"><button type="button" class="btn btn-primary btn-sm" disabled
            >成绩审核</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock content %}