<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程成绩查看</title>
</head>
<body>
{% include "nav.html" %}
<p>     </p>
<h4><b>{{ request.session.user_name }} 老师您好,请查看{{ classid }}课程评分</b> </h4>
<p>    </p>
<table border=1 class="table table-sm">
        <tr>
            <th>学生学号</th>
            <th>姓名</th>
            <th>分数状态</th>
        </tr>
        {% for i in score_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.score }}</td>

    </tr>
            {% endfor %}
    </table>
<p style="color:red">{{ err }}</p>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="../"><button class="btn btn-primary me-md-2 btn-big" type="button">返回</button>
 </a></div>
{% include "footer.html" %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>