<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    {% include "nav.html" %}
    <h2>选课导航：</h2>
    <ul>
        <li><a href="/classchoice/">开始选课</a></li>
        <li><a href="/classinfo/">查询所有开设课程信息</a></li>
        <li><a href="/program/">查看培养方案推荐课程</a></li>
    </ul>
    <h2>课程导航：</h2>
    <ul>
    <li><a href="/classtable/">课程表查看</a></li>
    <li><a href="/score/">成绩查询</a></li>
    <li><a href="/evaluation/" >课程评教 </a></li>
    </ul>
    <h2>信息中心：</h2>
    <ul>
    <li><a href="/message">相关信息</a></li>
    </ul>
    {% include "footer.html" %}
</body>

</html>