{% extends "index.html"%}

{% block pagetitle %}
<title>个人中心</title>
{% endblock pagetitle %}

{% block content %}
<h4>{{ identity }}您好，您的相关信息如下：</h4>
<hr>
<div class="form-floating mb-1">
    <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput"
        value="{{ name }}">
    <label for="floatingEmptyPlaintextInput">姓名</label>
</div>
<div class="form-floating mb-1">
    <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput"
        value="{{ id }}">
    <label for="floatingEmptyPlaintextInput">学号</label>
</div>
<div class="form-floating mb-1">
    <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput"
        value="{{ email }}">
    <label for="floatingEmptyPlaintextInput">邮箱</label>
</div>
<div class="form-floating mb-1">
    <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput"
        value="{{ major }}">
    <label for="floatingEmptyPlaintextInput">专业</label>
</div>
<div class="form-floating mb-1">
    <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput"
        value="{{ year }}">
    <label for="floatingEmptyPlaintextInput">入校年份</label>
</div>
<div class="form-floating mb-1">
    <input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput"
        value="{{ grade }}">
    <label for="floatingEmptyPlaintextInput">年纪</label>
</div>
<hr>
<a href="/chang_password/">修改密码</a>
<hr>
*系统暂未支持修改密码操作，敬请期待后续更新
{% endblock content %}