{% extends request.session.index_page_file %}

{% block pagetitle %}
<title>信息中心</title>
{% endblock pagetitle %}

{% block content %}
<p> </p>
<h4><b>信息中心</b> </h4>
<p> </p>
<table border=1 class="table table-sm">
    <tr>
        <th>发件人</th>
        <th>内容</th>
        <th>删除</th>
    </tr>
    {% for i in mess_list %}
    <tr>
        <td>{{ i.from }}</td>
        <td>{{ i.message }}</td>
        <td><a href="./message_delete/?from_id={{ i.from_id }}"><button type="button"
                    class="btn btn-secondary btn-sm">删除</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}