{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css'%}">
<nav class="crumbs">
    <ol>
        {% for i,j in address.items %}
        <li class="crumb"><a href="{{ i }}">{{ j }}</a></li>
        {% endfor %}
        <li class="crumb">{{ pagename }}</li>
    </ol>
    <div>
        {{ request.session.user_name }}({{ request.session.user_email }})  已登录,
        <div class="option"><a href="/logout/">登出账号</a></div>
        <div class="option"><a href="/me/">个人中心</a></div>
    </div>
</nav>