

<!-- <nav class="crumbs">
    <ol>
        {% for i,j in address.items %}
        <li class="crumb"><a href="{{ i }}">{{ j }}</a></li>
        {% endfor %}
        <li class="crumb">{{ pagename }}</li>
    </ol>
    <div>
        {{ request.session.user_name }}({{ request.session.user_email }})  已登录,
        <div class="option"><a href="/logout/">登出账号</a></div>
        {% if request.session.identity == 0 %}
        <div class="option"><a href="/me/">个人中心</a></div>
        {% elif request.session.identity == 1 %}
        <div class="option"><a href="/teacher_me/">个人中心</a></div>
        {% elif request.session.identity == 3 %}
        <div class="option"><a href="/admin_me/">个人中心</a></div>
        {% endif %}
    </div>
</nav> -->