{% extends "admin_index.html"%}

{% block pagetitle %}
<title>培养方案更新</title>
{% endblock pagetitle %}

{% block content %}

<body>
{% if request.session.week > 0 %}
    <p>     </p>
<h4><b>功能暂未开放</b> </h4>
<p>    </p>
{% else %}
<p>     </p>
<h4><b>{{ request.session.user_name }}老师您好，学院的培养方案可更新：</b> </h4>
<p>    </p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">无归属</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">有归属</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
   <table border=1 class="table table-sm">
        <tr>
            <th>课程序号</th>
            <th>课程名称</th>
            <th>授课老师</th>
            <th>提供培养方案</th>
        </tr>
        {% for i in clas_list %}
        <tr>
            <td>{{ i.classid }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.teacher }}</td>
            <td><button type="button" class="btn btn-primary btn-sm"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                归属</button></td>
        </tr>

     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">输入培养方案归属</h1>
                </div>
                <div class="modal-body">
                    <form action="/program_update/program_set/{{ i.classid }}" method="POST">
                            {% csrf_token %}
                        <label>输入专业</label>
                      <input type="text" class="form-control" name="major" placeholder="如管理学；统计学"
                                aria-label="City">
                         <label>输入年级（数字表示）</label>
                      <input type="number" class="form-control" name="grade" placeholder="输入1-8"
                                aria-label="City">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    </table>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <table border=1 class="table table-sm">
        <tr>
            <th>课程代码</th>
            <th>课程名称</th>
            <th>对应专业</th>
            <th>对应年级</th>
        </tr>
        {% for i in prog_list %}
        <tr>
            <td>{{ i.code }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.major }}</td>
            <td>{{ i.grade }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
    <p>     </p>
<p style="color:red">{{ err }}</p>
{% endif %}
{% endblock content %}