{% extends "index.html"%}

{% block pagetitle %}
<title>培养方案推荐</title>
{% endblock pagetitle %}

{% block content %}
<p> </p>
<h4><b>{{ major }}第{{ grade }}学期,推荐课程如下:</b> </h4>
<p> </p>
<table border=1 class="table table-sm">
    <tr>
        <th>课程代码</th>
        <th>课程名称</th>
        {% if request.session.week < 4 %} <th>前往选课</th>
            {% else %}
            {% endif %}
            <th>查看细节</th>
    </tr>
    {% for i in adv_list %}
    <tr>
        <td>{{ i.code }}</td>
        <td>{{ i.name }}</td>
        {% if request.session.week < 4 %} <td><a href="../classchoice/?code={{ i.code }}">前往选课</a></td>
            {% else %}
            {% endif %}
            <td><a href="../classinfo/?code={{ i.code }}">查看细节</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}