{%  extends request.session.index_page_file %}

{% block pagetitle %}
<title>学生课表</title>
{% endblock pagetitle %}

{% block content %}

<p> </p>
<h4><b>{{ classid }} : {{ class_name }}学生名单</b> </h4>
<p> </p>
<table border=1 class="table table-sm">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>专业</th>
    </tr>
    {% for i in stu_list %}
    <tr>
        <td style="vertical-align:middle">{{ i.id }}</td>
        <td style="vertical-align:middle">{{ i.name }}</td>
        <td style="vertical-align:middle">{{ i.major }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}