{% extends "teacher_index.html"%}

{% block pagetitle %}
<title>个人中心</title>
{% endblock pagetitle %}

{% block content %}

<body>
    {% include "nav.html" %}
    <h2>欢迎来到个人中心</h2>
    <h3>{{ identity }}您好，您的相关信息如下：</h3>
    <ul>
        <li>姓名：</li>
        <p>{{ request.session.user_name }}</p>
        <li>工号：</li>
        <p>{{ request.session.user_id }}</p>
        <li>邮箱：</li>
        <p>{{ request.session.user_email }}</p>
        <li>职称：</li>
        <p>{{ request.session.title }}</p>
    </ul>
    {% include "footer.html" %}
</body>
{% endblock content %}