{% extends "index.html"%}

{% block sidebar-links %}
<li>
    <a href="/class_adj/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
        </svg>
        申请调课
    </a>
</li>
<li>
    <a href="/class_open/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
        </svg>
        申请开课
    </a>
</li>
<hr>
<li>
    <a href="/teach_table/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
        </svg>
        授课课表
    </a>
</li>
<li>
    <a href="/grade_mission/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
        </svg>
        成绩发布
    </a>
</li>
<li>
    <a href="/evaluation_view/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table" />
        </svg>
        评教查询
    </a>
</li>
<hr>
<li>
    <a href="/message/" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#envelope" />
        </svg>
        信息中心
    </a>
</li>
{% endblock sidebar-links %}